# Ignore everything
*

# all files that starts with . and _
.*
_*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore

# Now exclude our type
!*.py

# Exclude __init__ and __main__
!__init__.py
!__main__.py

/Scripts
/i2fvg_test

app.py
__init__.py
__main__.py
app.py
.vscode/settings.json
__pycache__/__init__.cpython-37.pyc
__pycache__/__main__.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/i2fvg.cpython-37.pyc
__pycache__/prop_innovazione.cpython-37.pyc
certificates/prop_innovazione.py
data_providers/__init__.py
data_providers/accredia.py
data_providers/aiuti_di_stato.py
data_providers/anagraficaInfocamere.py
data_providers/dataprovider.py
data_providers/dataProviderUtil.py
data_providers/modefinance.py
data_providers/__pycache__/__init__.cpython-37.pyc
data_providers/__pycache__/accredia.cpython-37.pyc
data_providers/__pycache__/dataprovider.cpython-37.pyc
data_providers/__pycache__/modefinance.cpython-37.pyc
db_interface/__init__.py
db_interface/anagrafica.py
db_interface/bilanci.py
db_interface/brevetti.py
db_interface/certificazione.py
db_interface/cluster_imprese.py
db_interface/finanziamenti.py
db_interface/i2fvg.py
db_interface/__pycache__/__init__.cpython-37.pyc
db_interface/__pycache__/anagrafica.cpython-37.pyc
db_interface/__pycache__/bilanci.cpython-37.pyc
db_interface/__pycache__/certificazione.cpython-37.pyc
db_interface/__pycache__/i2fvg.cpython-37.pyc
tests/__init__.py
tests/test_accredia.py
tests/test_anagrafica.py
tests/test_dataProvider.py
tests/test_dataProviderUtil.py
tests/test_modefinance.py
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_accredia.cpython-37.pyc
tests/__pycache__/test_modefinance.cpython-37.pyc
